.App {
  text-align: center;

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 30px;
  }

  .App-header {
    background-color: #555;
    height: 70px;
    padding: 20px;
    color: white;
  }

  .App-main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    .App-canvas {
      flex: 1 0 512px;
      border: black solid thin;
    }

    .App-self {
      flex: 1 0 100px;
      font-size: large;
    }

    .App-enemy {
      flex: 1 0 100px;
    }
  }
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
